<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<title>Password Reset Done</title>
</head>
<body>
	<div class="container">
		<form class="box" action="" method="POST" autocomplete="off" id="myForm">
			<h1>Password Reset</h1>
			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" class="btn btn-primary">Update Password</button>
		</form>
	</div>
</body>
</html>