<!-- ============================================================== -->
<!-- Sales Cards  -->
<!-- ============================================================== -->
<div class="row">
    <div class="card-deck">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
              <h3 class="text-center"><i class="fas fa-users fa-2xl"></i> Users</h3>
            </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card shadow">
            <div class="card-header bg-warning text-white">
              <h3 class="text-center"><i class="fas fa-users fa-2xl"></i> Users</h3>
            </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card shadow">
            <div class="card-header bg-success text-white">
              <h3 class="text-center"><i class="fas fa-users fa-2xl"></i> Users</h3>
            </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->

<div class="row pt-3">
  <div class="col-sm-12 col-md-6">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h3 class="text-center">Bar Chart</h3>
      </div>
      <div class="card-body" style="height: 100%; width: 100%; position: relative;">        
        <canvas id="barChart"></canvas>          
        <script>
          const ctx = document.getElementById('barChart').getContext('2d');
          const barChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                  labels: [{% for user in users %} '{{ user.groups__name }}', {% endfor %}],
                  datasets: [{
                      label: '# of Users in Group',
                      data: [{% for user in users %} {{ user.total }}, {% endfor %}],
                      // data: [12, 19, 3, 5, 2, 3],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  responsive: true,
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
        </script>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card shadow">
      <div class="card-header bg-warning text-white">
        <h3 class="text-center">Line Chart</h3>
      </div>
      <div class="card-body" style="height: 100%; width: 100%; position: relative;">          
        <canvas id="lineChart"></canvas>
        <script>
          const lctx = document.getElementById('lineChart').getContext('2d');
          const lineChart = new Chart(lctx, {
              type: 'line',
              data: {
                  labels: [{% for user in users %} '{{ user.groups__name }}', {% endfor %}],
                  datasets: [{
                      label: '# of Users in Group',
                      data: [{% for user in users %} {{ user.total }}, {% endfor %}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  responsive: true,
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
        </script>
      </div>
    </div>    
  </div>
</div>

<div class="row pt-3">
  <div class="col-sm-12 col-md-6">
    <div class="card shadow">
      <div class="card-header bg-success text-white">
        <h3 class="text-center">Pie Chart</h3>
      </div>
      <div class="card-body" style="height: 100%; width: 100%; position: relative;">        
        <canvas id="pieChart"></canvas>
        <script>
          const pctx = document.getElementById('pieChart').getContext('2d');
          const pieChart = new Chart(pctx, {
              type: 'pie',
              data: {
                  // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                  labels: [{% for user in users %} '{{ user.groups__name }}', {% endfor %}],
                  datasets: [{
                      label: '# of Users in Group',
                      data: [{% for user in users %} {{ user.total }}, {% endfor %}],
                      // data: [12, 19, 3, 5, 2, 3],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  responsive: true,
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
        </script>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card shadow">
      <div class="card-header bg-danger text-white">
        <h3 class="text-center">Mixed Chart</h3>
      </div>
      <div class="card-body" style="height: 100%; width: 100%; position: relative;">          
        <canvas id="mixedChart"></canvas>
        <script>
          const mctx = document.getElementById('mixedChart').getContext('2d');
          const mixedChart = new Chart(mctx, {
    data: {
        datasets: [{
            type: 'bar',
            label: 'Bar Dataset',
            data: [{% for user in users %} {{ user.total }}, {% endfor %}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
        }, {
            type: 'line',
            label: 'Line Dataset',
            data: [{% for user in users %} {{ user.total }}, {% endfor %}],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
        }],
        labels: [{% for user in users %} '{{ user.groups__name }}', {% endfor %}]
    },
              options: {
                  responsive: true,
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
});
        </script>
      </div>
    </div>    
  </div>
</div>